doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title My Movie Database
    link(rel="stylesheet", href="bower/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
  body
    include _header

    .container
      block content

      include _footer

  script(src="bower/jquery/dist/jquery.js")
  script(src="bower/bootstrap/dist/js/bootstrap.js")
  script(src="bower/firebase/firebase.js")
  script(src="bower/lodash/lodash.js")
  script(src="js/main.js")
  script(src="js/login_authentication.js")

